
* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;}
body{  
    background-color: rgb(61, 88, 74);
}

img {
        width: 35px;
        height: 40px;
        border-radius: 50px;
        padding-top: 6px;
    }

.navbar-header {
    display: flex;
    background-color: rgb(65, 163, 163);
    transition: 4s;
    position:fixed;
    width:100%;
}
.navbar-header:hover {
    display: flex;
    background-color: rgb(178, 241, 228);
    transition: 4s;
}
.brand-name h1{
    color: rgb(252, 252, 252); 
    font-size: x-large; 
    padding-bottom: 7px;
    
}

.brand-name{
    flex: 70%;
    background-color: rgb(65, 113, 141);
    color: rgb(27, 26, 26);    
}

.navbar-menu {
    flex:40%;
}
.navbar-menu ul{
    display:  flex;
    text-align: center;
    padding-top: 25px;
    list-style-type: none;
}

.navbar-menu li {
    flex: 40%;
    font-size:  1.5rem;
}
.navbar-menu a {
    text-decoration: none;
    color: lavender;
}

.navbar-menu a:hover {
    color:gray;
    
}

#home {
    display: flex;
}

#home h1 {
    flex: auto;
    font-size: 2rem;
    color: rgb(169, 197, 184);
    justify-content: center;
    display: flex;
    align-items: center;
}

#skills {
    display: flex;
}

#skills h1 {
    flex: auto;
    font-size: 2rem;
    color: rgb(169, 197, 184);
    justify-content: center;
    display: flex;
    align-items: center;
}

#about {
    display: flex;
}

#about h1 {
    flex: auto;
    font-size: 2rem;
    color: rgb(169, 197, 184);
    justify-content: center;
    display: flex;
    align-items: center;
}
h1 {
    font-size: 1rem;
    margin-top: 1rem;
}

.container {
  
    height: 100vh;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}